article{
    height: 500px;
    width: 500px;
    border: 1px solid;
    /* linear Gradient is use to create shades of color  */
    /* background: linear-gradient( to right bottom, green,red,blue); */

    /* Radial Gradient  color start from center*/
    /* background: radial-gradient(orange,white,blue); */
    
    /* Conic gradient color rotating in clock direction and statrt from center make cone*/
    /* background: conic-gradient(blue 0deg 90deg,white 90deg 270,gray 270deg 360 deg); */
    /* background: conic-gradient(red 0deg 59deg,orange 59deg 121deg,purple 121deg 239deg, gray 239deg 301deg, red 301deg 360deg ); */

    /* Backgroung image  */

    background-image: url("https://media.istockphoto.com/id/178384762/photo/hiking-in-himalaya-mountains.jpg?s=1024x1024&w=is&k=20&c=UlzfxnvqrcAb8lyb31gUvIy6jr_oKXFcgmUhg5fE3a8=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: auto;
    
}
/* article::-webkit-scrollbar
{
    display: none;  
}  */