article{
    height: 300px;
    width: 300px;
    border: 10px solid;
    /* margin: 40px; */
    /* padding: 50px;
    padding-left: 10px; */
    /* t r b l short cut to provide paddding in single line */
    /* reftrence in copy this concept */
    padding:10px 20px 30px 40px;
    margin: 10px 20px 30px 40px;
    box-sizing: border-box;
    box-sizing: ;
}

#arc{
    height: 300px;
    width: 300px;
    border: 10px solid;
    padding: 20px 30px;
    margin: 0px auto;  
    /* for center */
}
#arc1{
    height: 300px;
    width: 300px;
    border: 10px solid;
}