article{
    height: 300px;
    width: 300px;
    border: 1px solid;
    /* padding:10px 20px 30px 40px; */
    margin: 10px 20px 30px 40px;
    box-sizing: border-box;
    box-shadow:  10px 10px 10px grey ;
    justify-content: center;
    align-items: center;
}
/* article div{
    height: 5px;
    width: 5px;
    border: 1px solid; 
    background-position: center;
    
} */
article img{
    height: 180px;
    width: 300px;
    border: 1px solid;
    background-position: center;
    
}
article p{
    align-items: center;
}