Focus work only for input field only
input:focus{
    color: blue;
    background-color: aquamarine;
    border-radius: 200px;
    outline-color: chocolate;
    outline: none;
}

    /* Hower */
    a:hover{
        color: blueviolet;
    }

    /* Structural Pseudo Selectors */
     /* Mainly used in list an table */

    ul li:first-child{
        color: blueviolet;
    }

    /* ul li:nth-child(2){
        color: cadetblue;
    } */

    ul li:nth-child(even){
        color: cornflowerblue;
    }

    /* HW Fist of :nth-of-type(last of type) */

    /* It only work with radio and checkbox */
input:checked{
    height: 50px;
}