*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    height: 600px;
    width: 600px;
    border: 1px solid;
    display: grid;
    grid-template-areas:"con1 con1 "
                        "con1 con1 "
                        "con2 con3 " 
                        "con2 con3 " 
                        "con2 con4 "
                        "con2 con4 "
                        "con5 con5 "
                        "con5 con5 "
                        "con5 con5 "
                        "con6 con6 ";
                        gap: 10px;
}
.con1{
    grid-area:con1;
}
.con2{
    grid-area:con2;
}
.con3{
    grid-area:con3;
}
.con4{
    grid-area:con4;
}
.con5{
    grid-area:con5;
}
.con6{
    grid-area:con6;
}
.con7{
    grid-area:con7;
}

section div{
    border: 1px solid green;
}