*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    height: 100px;
    width: 100vh;
    border: 1px solid black;
    
    /* transform: rotateY(20deg);
    transform: rotateX(20deg);
    transform: rotateZ(20deg);
    transform: scale(2);
    transform: skew(270deg); */
    /* transform: translateX(180px); */
    /* In translate its short hand of translate x and translate y */
    /* transform: translate(100px,100px); */
    /* for all container duration delay in transition */
    /* transition: all 2s 1s; */
}
.cont1{
    
    transition: all 2s linear;
/* transition-duration: 4s;
transition-delay: 1s; */
background-color: #c35656;
border-radius: 100px;
}
.cont2{
    
    transition: all 2s ease;
    background-color: #10e1a6;
    
/* transition-duration: 4s;
transition-delay: 1s; */
}
.cont3{
    
    transition: all 2s ease-in;
/* transition-duration: 4s;
transition-delay: 1s; */
background-color: blue;
}
.cont4{
    
    transition: all 2s ease-in-out;
/* transition-duration: 4s;
transition-delay: 1s; */
background-color: greenyellow;
}
.cont5{
    
    transition: all 2s ease-out;
    
/* transition-duration: 4s;
transition-delay: 1s; */
background-color: blueviolet;
}

.cont1:hover{
    
    width: 100%;
    
    
/* transform:rotateX(30deg); */

/* transition-duration: 4s;
transition-delay: 1s; */
}
.cont2:hover{
    
    width: 100%;
    /* transform:translate(220px); */
    transform:scale(0.5);
/* transition-duration: 4s;
transition-delay: 1s; */
}
.cont3:hover{
    width: 100%;
    rotate: -30deg;
    /* transform:translate(220px); */
/* transition-duration: 4s;
transition-delay: 1s; */
}
.cont4:hover{
    
    width: 100%;
    rotate:(45deg)
    /* transform:translate(220px); */
/* transition-duration: 4s;
transition-delay: 1s; */

}
.cont5:hover{
    width: 100%;
    /* transform:translate(220px); */
    transform: scaleY(2);
/* transition-duration: 4s;
transition-delay: 1s; */
}