*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    border: 1px solid black;
    background-color: burlywood;
    position: relative;
}
.ball{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: red;
    position: absolute;
    top: 40px;
    left: 40px;
    border-radius: 50%;
    /* to provide animation on element we just pass animation name  */
    animation-name: ball;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes ball{
    0%
    {
        left: 400px;
        top: 40px;
        background-color: rgb(219, 15, 100);
        transform: scale(1);
    }
    25%
    {
        left: 560px;
        top: 200px;
        background-color: brown;
        transform: scale(0.5);
    }
    50%
    {
        top: 460px;
        left: 460px;
        background-color: yellow;
        transform: scale(1);
    }
    75%
    {
        left: 40px;
        top: 40px;
        background-color: #d30bed;
        transform: scale(0.5);
    }
    
    100%
    {
        top: 40px;
        background-color: aqua;
        /* transform: scale(1.5); */
        transform: scale3d(1);
    }
}
main{
    height: 80%;
    width: 80%;
    border: 1px solid black;
    background-color: #fff;
}